.gredient-border{
    border: 1px solid;
    border-image: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(72, 19, 145, 1) 100%) 1;
}
.gredient-border:hover {
  box-shadow: 0px 0px 51px 14px rgba(129,179,164,0.64);
  transform: scale(1.05);
}