@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" ;
@plugin "daisyui/theme" {

}

.font-comfortaa{
    font-family:  "Comfortaa", sans-serif;
}
.font-baina{
    font-family: "Baloo Bhaina 2", sans-serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
}